@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;

.combo {
  .box__bono {
    margin-top: 2rem;
    text-align: center;

    @include for-size('tablet-landscape-up') {
      margin-top: unset;
      text-align: end;
    }
  }
}

.comprarAhora {
  position: relative;

  &::after {
    content: '';

    background: $c-green;

    position: absolute;
    top: 50%;
    left: 50%;
    height: 40rem;
    width: 100%;

    transform: translate(-50%, -50%);

    z-index: -1;
  }
}
