@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;

.accede {
  padding-top: 15rem;
  padding-bottom: 5rem;
}

.tipoAplicaciones {
  &__img {
    height: 10rem;
  }
}

.amedida {
  &__img {
    height: 3rem;
  }
}

.requisitos {
  &__box {
    .img-main {
      display: unset;
    }

    .img-active {
      display: none;
    }

    &.bg-blue-green {
      .img-main {
        display: none;
      }

      .img-active {
        display: unset;
      }
    }
  }
}

.estadisticas {
  position: relative;
  video {
    z-index: -1;
  }
}
