@use '../abstracts/mixins' as *;

.gridSystem {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));

  &--icons {
    grid-template-columns: 1fr;

    @include for-size('phone-only') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include for-size('tablet-portrait-up') {
      grid-template-columns: repeat(3, 1fr);
    }

    @include for-size('tablet-landscape-up') {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &--partners {
    grid-template-columns: repeat(auto-fit, minmax(230px, 240px));
  }

  &--2-columns {
    grid-template-columns: 1fr;
    @include for-size('tablet-portrait-up') {
      grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    }
  }

  &__img {
    height: 10rem;

    &--small {
      height: 3rem;
    }

    &--big {
      height: 20rem;
    }
  }

  &--metaverso {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;

    @include for-size('phone-only') {
      grid-template-columns: 1fr 1fr;
    }

    @include for-size('tablet-landscape-up') {
      grid-template-columns: 2fr 200px 200px;
    }
  }

  &__tall {
    @include for-size('phone-only') {
      grid-column: span 2 / auto;
    }
    @include for-size('tablet-landscape-up') {
      grid-column: initial;
      grid-row: span 2 / auto;
    }
  }
}
