@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;

$gray: #d1d3d1;

.pago {
  & > .d-flex {
    gap: 3rem;

    @include for-size(500px) {
      flex-direction: row;

      gap: 5rem;
    }
  }

  &__radioBox {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    row-gap: 2rem;

    @include for-size(300px) {
      grid-template-columns: repeat(6, 30px);
    }
  }

  &__disabled {
    color: $gray;

    .pago__inputRadio {
      &:checked::after {
        content: '';
        background-color: $gray;
      }
    }
  }

  &__inputRadio {
    height: 15px;
    width: 15px;
    position: relative;

    &::after {
      border-radius: 15px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      background-color: white;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 1px solid $gray;
    }

    &:checked::after {
      content: '';
      background-color: $c-green;
      border: 1px solid white;
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $c-white;
    border: 1px solid $gray;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    background-color: $gray;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider:before {
    background-color: $c-green;
  }

  input:checked + .slider:before {
    left: 55%;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  footer {
    border-top: 1px solid $c-green;
  }
}
