@use '../abstracts/mixins' as *;

.title {
  margin: 0 auto;

  &--container {
    @include for-size('tablet-landscape-up') {
      width: 70%;
    }
  }

  &__main {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
    font-weight: 300;
  }
}
