$c-white: #fff;

$c-white-light: #f5fffa;

$c-gray: #eee;

$c-black: #b3b3b3;

$c-black-dark: #000;

$c-green: #4dceb5;

$c-green-dark: #04a777;

$c-green-darker: #00CFB5;

$green: #95E0CC;

$green-light: #edfff5;

$green-lighter: #f5fff9;

$main-blue: #3981d9;

$sedoncary-blue: #3c66b9;

$secondary-blue: #5db8ff;

$light-blue: #C6DBF6;

$dark-blue: #001781;